<mat-card >     
    <mat-card-content>
        
        <table style="width:100%" cellspacing="5">
                <caption>Availble</caption>
                <tr>
                    <td>Serial Number</td>
                    <td>Product Name</td>
                    <td>Quantity</td>
                    <td>Price</td>
                </tr>
                    <tr *ngFor="let product of data">
                        <td>{{product.serialNumber}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.price}}</td>
                    </tr>
        </table>
    </mat-card-content>
</mat-card>